@page "/counter"
@using CiCd.Domain
@using CiCd.Infrastructure
@using Dapr.Client
@rendermode InteractiveServer
@inject IConfiguration _config
@inject EntityFramework _context
@inject DaprClient _daprClient

<PageTitle>Counter</PageTitle>

<h1>Counter ny opdateret</h1>

<h1>@connectionstringName</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if(fromDatabase is not null)
{
    <h1>Data from postgress</h1>
    <h2>@fromDatabase.Id</h2>
    <h3>@fromDatabase.Name</h3>
    <h3>@fromDatabase.Date</h3>
}

@if(fromDapr is not null)
{
    <h1>Data from Dapr</h1>
    <h2>@fromDapr.Id</h2>
    <h3>@fromDapr.Name</h3>
    <h3>@fromDapr.Date</h3>
}

<h1>@isDaprAndDatabaseSynced.ToString()</h1>



@code {
    private int currentCount = 0;
    private string connectionstringName = "";
    private Person? fromDatabase;
    private Person? fromDapr;
    private bool isDaprAndDatabaseSynced = false;

    private async Task IncrementCount()
    {
        currentCount++;
        
        Person person = new Person("Mikkel", 21435547, DateTime.UtcNow);

        await _context.Persons.AddAsync(person);
        await _context.SaveChangesAsync();

        fromDatabase = _context.Persons.FirstOrDefault(p => p.Id == person.Id);


        await _daprClient.SaveStateAsync("daprstatestore", person.Id.ToString(), person);
        fromDapr = await _daprClient.GetStateAsync<Person>("daprstatestore", person.Id.ToString());

        if (fromDatabase.Id == fromDapr.Id) isDaprAndDatabaseSynced = true;
    }

    protected override async Task OnInitializedAsync()
    {
        connectionstringName = _config.GetConnectionString("DefaultConnection");
    }
}
